---
layout: shop-page
permalink: shop.html
---
<div class="shop-bg frow column-center grid-container" id="wrap">
	<div class="shop-intro">
		<h1 class="shop-intro-heading">Supplements and Tools</h1>
		<p>These are some of the supplements and tools that have helped me the most on my journey of healing and recovering from insomnia, exhaustion, burnout and anxiety.</p>
		<p>Nutritional supplements are part of the essential arsenal of optimizing life or recovering from trauma and crisis, as they can help support glandular and hormonal function, sleep, and overall energy levels. The right supplements and nutritional support can make a huge difference in supporting and augmenting recovery.</p>
		<p>The other components of optimizing life are beneficial information (mental transformation), connection (social, spiritual fulfillment), and exercise/practices (physical and emotional transformation). <a href="#" title="Free Download - Next Level Living">Download my guide</a> or <a href="#" title="Sign Up For Mike's Newsletter to Feed Your Mind">sign up to my newsletter</a> to access the best information, practices and resources I know in these areas.</p>
	</div>
	{% include subpage-products-nav.html %}
  	{% include subpage-products-grid.html %}
</div>