<header class="header-shrink section">
  <nav class="frow">
    <div id="site-branding-post" class="site-branding">
      <a href="#home">
        <h1 class="site-title">MIKE PEIMAN</h1>
        <p class="site-description">
          <span id="father">Father</span>. <span id="thinker">Thinker</span>. <span id="developer">Developer</span>.
        </p>
      </a>
    </div>
      <ul class="nav-menu">
      <li><a class="menu-item" href="/">Home</a></li>
      <li><a class="menu-item" href="/blog.html">Blog</a></li>
      <li><a class="menu-item" href="/shop.html">Shop</a></li>
      <li><a class="menu-item" href="/about.html">About</a></li>
      <li><a class="menu-item" href="/contact.html">Contact</a></li>
    </ul>
  </nav>
</header>