
<nav class="product-filter">

  <h1>Mike's Top Supplements Recommendations</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Benefits:</label>
      <select>
        <option value="/" data-filter="*" class="button category-name category-benefits filter-all category-benefits-up active">All</option>
        {% assign filters = site.data.supplements-categories.categories | group by: 'categories' %}
        {% for filter in filters %}
          <option class="button category-name category-benefits category-benefits-up" data-filter=".{{ filter.name }}" value=".{{ filter.name }}">{{ filter.name }}</a>
        {% endfor %}
      </select>
    </div>
    <div class="collection-sort">
      <label>Types:</label>
      <select>
        <option value="/" data-filter="*" class="button category-name category-benefits filter-all category-benefits-up active">All</option>
        {% assign filters = site.data.supplements-categories.types | group by: 'types' %}
        {% for filter in filters %}
          <option class="button category-name category-benefits category-benefits-up" data-filter=".{{ filter.name }}" value=".{{ filter.name }}">{{ filter.name }}</a>
        {% endfor %}
      </select>
    </div>
    <div class="collection-sort">
      <label>Forms:</label>
      <select>
        <option value="/" data-filter="*" class="button category-name category-benefits filter-all category-benefits-up active">All</option>
        {% assign filters = site.data.supplements-categories.forms | group by: 'forms' %}
        {% for filter in filters %}
          <option class="button category-name category-benefits category-benefits-up" data-filter=".{{ filter.name }}" value=".{{ filter.name }}">{{ filter.name }}</a>
        {% endfor %}
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
      </select>
    </div>

  </div>
</nav>

  <!-- <div class="products frow"> -->
  <section class="products">

  <!-- It's likely you'll need to link the card somewhere. You could add a button in the info, link the titles, or even wrap the entire card in an <a href="..."> -->

   {% for product in site.data.supplements-json %}
  <div class="product-card">
    <div class="product-image">
      <img src="/images/mike-1x1-250x250.jpg">
    </div>
    <div class="product-info">
     <div class="col-md-1-3 element-item frow
     {% for category in product.categories %}{{ category }} {% endfor %}
     {% for type in product.types %}{{ type }} {% endfor %}
     {% for form in product.forms %}{{ form }} {% endfor %}">
        <a class="flex-container" target="_blank" href="{{ product.link-url }}">
          <ul class="product-header">
              <li class="product-shortname">{{ product.shortname }}</li>
              <li class="product-brandname">{{ product.brandname }}</li>
            
            <li class="product-desc-container" target="_blank" href="{{ product.url }}">
              <span class="product-longdesc">
                <span>{{ product.longdesc }}<span class="button buy-now-button">Add to cart</span></span>
              </span>
            </li>
          </ul>
        </a>
        
          <span>{{ product.longdesc }}<span class="button buy-now-button">Add to cart</span></span>
          <span class="product-price">{{ product.price | divided_by: 100.00 }}  for 
          <span class="product-amount"> {{ product.amount }} {{ product.unit }}</span></span>
          <span class="button buy-now-button">Add to cart</span>
          {% assign product-unit-price = (product.price | divided_by: product.amount | divided_by: 100.00 ) %}
          {% assign global-unit = site.data.supplements-categories.global-unit %}
          {% case global-unit %}
          {% assign global-unit = site.data.supplements-categories.global-unit %}
            {% when "100g" %}              
              {% case product.unit %}
                {% when "100g" %}                  
                  {% assign global-unit-price = product-unit-price %}
                  
                  <span class="global-unit-price">{{ global-unit-price | round: 2 }} per {{ global-unit }}</span>
                {% when "oz" %}                  
                  {% assign global-unit-price = product-unit-price | divided_by: 28.00 | times: 100 %}
                  
                  <span class="global-unit-price">{{ global-unit-price | round: 2 }} per {{ global-unit }}</span>
                {% else %}                  
                  
                  <span class="global-unit-price">{{ global-unit-price | round: 2 }} per {{ global-unit }}</span>
              {% endcase %}
            {% when "oz" %}              
              {% case product.unit %}
                {% when "100g" %}                  
                  {% assign global-unit-price = product-unit-price %}
                  
                  <span class="global-unit-price">{{ global-unit-price }} per {{ global-unit }}</span>
                {% when "oz" %}                  
                  {% assign global-unit-price = product-unit-price | divided_by: 28.00 %}
                  
                  <span class="global-unit-price">{{ global-unit-price }} per {{ global-unit }}</span>
                {% else %}                  
                  
                  <span class="global-unit-price">{{ global-unit-price }} per {{ global-unit }}</span>
              {% endcase %}
            {% when "ml" %}              
              {% case product.unit %}
                {% when "100g" %}                  
                  {% assign global-unit-price = product-unit-price %}
                  
                  <span class="global-unit-price">{{ global-unit-price }} per {{ global-unit }}</span>
                {% when "oz" %}                  
                  {% assign global-unit-price = product-unit-price | divided_by: 28.00 %}
                  
                  <span class="global-unit-price">{{ global-unit-price }} per {{ global-unit }}</span>
                {% else %}                  
                  
                  <span class="global-unit-price">{{ global-unit-price }} per {{ global-unit }}</span>
              {% endcase %}
          {% endcase %}

          <span class="rating-container">
            <label>Overall Rating: </label>
            <div class="stars-container stars-{{ product.rating }}" title="{{ product.rating }}/10">★★★★★</div>
          </span>




     </div>
    {% endfor %}
    </div>
  </div>

  <!-- more products -->

</section>
<script>
var $grid = $('.grid').isotope({
  // options
});
// filter items on button click
$('.filter-button-group').on( 'click', 'a', function() {
  var filterValue = $(this).attr('data-filter');
  $grid.isotope({ filter: filterValue });
});
$('.button-group a.button').on('click', function(){
  $('.button-group a.button').removeClass('active');
  $(this).addClass('active');
});
</script>