  <div class="grid frow">
    {% for product in site.data.supplements-2 %}
    <div class="product-card  {% for categories in product.categories %}{{ categories }} {% endfor %}{% for type in product.type %}{{ type }} {% endfor %}{% for form in product.form %}{{ form }}{% endfor %}" href="{{ amazon-text-link }}">
      <a title="{{ product.name }}" class="product-link" rel="nofollow" target="_blank">
        
        
          <span>{{ product.amazon-iframe }}</span>
          <!-- <img src="{{ product.amazon-image-url }}" title="{{ product.name }}" class="product-image">-->
          <span class="product-shortname">{{ product.shortname }}</span>
          </a>
    </div>

        <!-- 

        <div class="product-link">
          <p class="product-title">{{ product.name }}</p>
          <img src="{{ product.amazon-image-url }}" title="{{ product.name }}" style="width: auto; height: 240px;">
        </div>

          <img src="{{ product.image-url }}">
          <span class="rating-container">
          <label>Mike's Rating: </label>
          <div class="stars-container stars-{{ product.rating }}" title="{{ product.rating }}/10">★★★★★</div>
        </span> -->

    {% endfor %}
  </div>

<script>
// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.product-card',
  layoutMode: 'fitRows'
});
// bind filter on select change
$('.filters-select-1').on( 'change', function() {
  // get filter value from option value
  var filterValue = this.value;
  $grid.isotope({ filter: filterValue });
});
$('.filters-select-2').on( 'change', function() {
  // get filter value from option value
  var filterValue = this.value;
  $grid.isotope({ filter: filterValue });
});
$('.filters-select-3').on( 'change', function() {
  // get filter value from option value
  var filterValue = this.value;
  $grid.isotope({ filter: filterValue });
});

</script>
<style>
.grid {
  border: 1px solid #333;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.grid {
    height:  auto !important;
}
.grid * {
  //position: relative !important;
  left:  auto !important;
  top:  auto !important;
}

.product-card > * {
  margin: 0;
  padding: 0;
}
</style>