<div class="intro-text">
  <div class="greeting">
  	<div class="img-small-profile"></div>
  	<h1>Hi. I'M MIKE.</h1>
  </div>
  <p><span class="dropcap-box"><span class="dropcap">L</span></span>ife is a beautiful thing, and to me, profoundly meaningful.</p>
  <p>Since I was a child I've been unusually self-aware, reflecting deeply on myself, my relationships, and the world, because I'm passionate about understanding and making things better.</p>
  <p>In my <a href="#" class="link-articles">articles</a>, <a href="#" class="link-course">courses</a> and <a href="#" class="link-coaching">executive coaching</a>, I share and teach what I've learned to help others achieve greater health, fulfillment, and success.</p>
  <p>I'm also a web, app and business developer. If your focus is on growing your business, please <a href="#" class="link-contact">contact me directly</a>.</p>
</div>