<div class="intro-text">
  <div class="homepage-headings">
  		<!-- <div class="underline-greeting title invisible" id="titleh1">Hi. I'm Mike.</div> -->
  		<p class="homepage-subheading">Michael Stuart Peiman</p>
  		<h1 class="title" id="title"><span id="title-build">Build</span><span id="title-a">a</span> <span id="title-better">Better</span> <span id="title-world">World</span></h1> <!-- clip-text clip-text_sixteen clip-text--no-textzone -->
  		<p class="homepage-subheading">Polymath. Web Developer. Business Growth Catalyst.</p>
  </div>
</div>

<!-- <script>
$(document).ready(function() {
	// $(".lead-paragraph-home").blast({ delimiter: "paragraph",  customClass: "leadParagraphWords" });
	// $("#titleh1").blast({ search: "Hi.", customClass: "titleHi" });
	// $("#titleh1").blast({ search: "I'm Mike.", customClass: "titleMike" });
	$("#titleh2").blast({ delimiter: "character", customClass: "subtitleLetter" });

	var textAnimation = [{
	  //   	e: $('#titleh1'),
		 //  	p: 'transition.slideUpBigIn',
			// o: {
			//     duration: 750
			// }},{
			e: $('.subtitleLetter'),
		 	p: 'transition.fadeIn',
		  	o: {
			    duration: 500,
			    stagger: 60,
			}
		},{ 
			e: $('.leadParagraphWords'),
		  	p: 'transition.slideDownBigIn',
			o: {
			    duration: 500,
			    stagger: 25,
			}
	}];

$.Velocity.RunSequence(textAnimation);
$("#titleh1").removeClass("invisible");
$("#titleh2").removeClass("invisible");
$("#leadParagraph").removeClass("invisible");
setTimeout(function(){
       $("#titleh2").addClass("subtitle-bg");
   }, 1000);
});


</script> -->