<div class="intro-text">
  <h1 class="greeting">Hi. I'M MIKE.</h1>
  <p>What drives me is understanding how things work, making them better, and helping and teaching others with what I've learned.</p>
  <p>I'm a generalist, an integrator, a student of all areas of life. My articles, courses and coaching can help you achieve greater health, fulfillment, and success.</p>
  <p>I'm also a web, app, and business development consultant. If your focus is on growing your business, contact me directly here.</p>
</div>