<h1 class="col-md-1-1 section-header-contact">CONTACT ME</h1>
<div class="frow col-md-3-5">
  <div class="signup-form-post">
    <p>I like to make new friends, find new partners and forge new alliances in our joint mission to make the world a better place. If you're on that track, get in touch. We should talk.</p>
    <p>The best way to connect with me is by <a href="mailto:love@mikepeiman.com">email here</a>, or via one of my social profiles below:</p>
  <div class="social-links-contact">
    <ul class="frow direction-row justify-around">
      <li><a href="https://twitter.com/mikepeiman" target="_blank" aria-label="twitter">
        <svg class="icon icon-twitter" aria-hidden="true">
          <use xlink:href="/images/icons.svg#twitter"></use>
        </svg></a></li>
      <li><a href="https://www.facebook.com/mikepeiman" target="_blank" aria-label="facebook">
        <svg class="icon icon-facebook" aria-hidden="true">
          <use xlink:href="/images/icons.svg#facebook"></use>
        </svg></a></li>
      <li><a href="https://www.linkedin.com/in/mikepeiman" target="_blank" aria-label="linkedin">
        <svg class="icon icon-linkedin" aria-hidden="true">
          <use xlink:href="/images/icons.svg#linkedin"></use>
        </svg></a></li>

      <li><a href="https://github.com/mikepeiman" target="_blank" aria-label="github">
        <svg class="icon icon-github" aria-hidden="true">
          <use xlink:href="/images/icons.svg#github"></use>
        </svg></a></li>
      <li><a href="#" aria-label="youtube">
        <svg class="icon icon-youtube" aria-hidden="true">
          <use xlink:href="/images/icons.svg#youtube"></use>
        </svg></a></li>
    </ul>
  </div>
  <br>
  <p>Or, sign up for my newsletter - I promise only to send things I think will be worth your time and make your life better in some way.</p>
  <br>
<!-- Begin MailChimp Signup Form -->
    <form action="//mikepeiman.us7.list-manage.com/subscribe/post?u=2e0789618f3335c1fdeae5f80&amp;id=f5d18d0c88" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate frow column-center" target="_blank" validate>
      <div>
        <input required type="text" name="FNAME" class="form-name input-field-post required form-control" id="mce-FNAME" placeholder="name" autocomplete="on" required="">
      </div>
      <div>
        <input required type="email" name="EMAIL" class="form-email input-field-post required form-control" id="mce-EMAIL" placeholder="email address" autocomplete="on" required="">
      </div>
      
      <div id="mce-responses" class="clear">
          <div class="response closed" id="mce-container">
            <p class="mce-msg" id="mce-error-response"></p>
            <p class="mce-msg" id="mce-success-response"></p>
            <p class="mce-msg closed no-after" id="mce-response-close-button"></p>
          </div>
      </div>    
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_2e0789618f3335c1fdeae5f80_f5d18d0c88" tabindex="-1" value="">
      </div>

      <div class="form-submit-post" id="form-submit">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
      </div>
    </form>
  </div>
</div>

<!--End mc_embed_signup-->
<script>
  function toggleMCE() {
    console.log("toggleMCE function running");
    $("#mce-response-close-button").toggleClass("no-after");
    $("#mce-response-close-button").toggleClass("closed");
    $("#mce-container").toggleClass("closed");
  }

  function mcErrorCheck() {
    console.log("mcErrorCheck run");
    if ($("#mce-error-response").children().length > 0) { 
      console.log("mceError has children");
      console.log("calling toggleMCE");
      toggleMCE();
    }
    else (
      console.log("mceError has no children")
    );
  }

  function mcSuccessCheck() {
    console.log("mcSuccessCheck run");
    if ($("#mce-success-response").children().length > 0) { 
      console.log("mceSuccess has children");
      console.log("calling toggleMCE");
      toggleMCE();
    }
    else (
      console.log("mceSuccess has no children")
    );
  }   

  function submitClick() {
    $('#mc-embedded-subscribe').click(function() {
      console.log("mcSubmit click running");
      console.log("calling mcErrorCheck");
      mcErrorCheck();
      console.log("calling mcSuccessCheck");
      mcSuccessCheck();
    });
  }

  function mceContainerClick() {
    $("#mce-container").click(function() {
      console.log("mceContainer click running");
      console.log("calling mcErrorCheck");
      mcErrorCheck();
      console.log("calling mcSuccessCheck");
      mcSuccessCheck();
    });
  }

  $("#mce-response-close-button").click(function() {
    console.log("close button clicked, calling toggleMCE");
    toggleMCE();
  });

  submitClick();
</script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
</script>

<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>

<script type="text/javascript">
  $(function () {
  $('#mc-embedded-subscribe-form').parsley().on('field:validated', function() {
    var ok = $('.parsley-error').length === 0;
    $('.bs-callout-info').toggleClass('hidden', !ok);
    $('.bs-callout-warning').toggleClass('hidden', ok);
  })
  .on('form:submit', function() {
    return true;
  });
  });
</script>
