<div class="intro-text">
  <h1 class="greeting">Hi. I'M MIKE.</h1>
  <p>I'm a proud father, freelance web developer, and master pancake-maker. Seriously, you should try my pancakes. But only with real maple syrup (none of that fake crap!)</p>
  <p>I'm also many other things. I'm an expert-level snowboard instructor, a personal trainer, and a champion for health, wellness, and vitality.</p>
  <p>I'm an advocate for sustainability, social and economic justice, and bringing a higher level of consciousness to life.</p>
  <div class="frow direction-column hire-me folded-corner-left-green folded-corner-right-green">
    <p>I'd love to help you and your team achieve success.</p>
    <a href="#"><span class="hire-me-button">Hire me!</span></a>
  </div>
</div>