<h1 class="col-md-1-1 section-header-about">About Me</h1>
<div class="frow col-md-3-5">
  <div class="lead-paragraph-home about-text">
    <div class="lph-3">
      <p><span class="dropcap-box dropcap-box-home"><span class="dropcap dropcap-home">I</span></span>'m a proud father creating a better world for my daughter to inherit. That's what it boils down to. I'd love to share more about my other interests, ambitions and experiences, but I'll make that a blog post another time.</p>
    </div>
    <div class="lph-4">
      <p>What I want you to know is that if you have a passion for personal growth and improvement, we're on the same page. If you're passionate about building a better world for all, consider me an ally. And if you've ever gone through darkness so deep that you struggled with your will to live - I can relate.</p>
      <p>I've taken my passion and challenges as stimulus for growth, and mined my experiences for all the nuggets of gols I can find. This blog is my platform to share those. If any of this resonates with you, sign up for my newsletter or get in touch directly. The time for hesitation is past- let's do this thing!</p>
    </div>
    <div class="frow direction-column content-center lph-4">
      <h2 class="video-title">My practical advice to my younger self on Mastery: </h2>
      <div class="youtube-player" data-id="5Bxtw-3dfuM"></div>
      <!-- thanks to https://www.labnol.org/internet/light-youtube-embeds/27941/ for the video embed code! -->
    </div>
  </div>
</div>