<div class="shop-nav-container">
  <nav class="product-filter">
    <div class="collection-sort">
      <label>Benefits:</label>
      <select class="filters-select-1">
        <option value="*">All</option>
        {% assign filters = site.data.supplements-categories.categories | group by: 'categories' %}
        {% for filter in filters %}
          <option class="sort-option" value=".{{ filter.name }}">{{ filter.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="collection-sort">
      <label>Types:</label>
      <select class="filters-select-2">
        <option value="*" data-filter="*" class="sort-option active">All</option>
        {% assign filters = site.data.supplements-categories.types | group by: 'types' %}
        {% for filter in filters %}
          <option class="sort-option" data-filter=".{{ filter.name }}" value=".{{ filter.name }}">{{ filter.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="collection-sort">
      <label>Forms:</label>
      <select class="filters-select-3">
        <option value="*" data-filter="*" class="sort-option active">All</option>
        {% assign filters = site.data.supplements-categories.forms | group by: 'forms' %}
        {% for filter in filters %}
          <option class="sort-option" data-filter=".{{ filter.name }}" value=".{{ filter.name }}">{{ filter.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">Featured</option>
        <option value="/">Price</option>
        <option value="/">Featured</option>
      </select>
    </div>
  </nav>
</div>

  <div class="grid frow">
    {% for product in site.data.supplements-2 %}
    <div class="product-card  {% for categories in product.categories %}{{ categories }} {% endfor %}{% for type in product.type %}{{ type }} {% endfor %}{% for form in product.form %}{{ form }}{% endfor %}" href="{{ amazon-text-link }}">
      <a title="{{ product.name }}" class="product-link" rel="nofollow" target="_blank">
        
        
          <span>{{ product.amazon-iframe }}</span>
          <!-- <img src="{{ product.amazon-image-url }}" title="{{ product.name }}" class="product-image">-->
          <span class="product-shortname">{{ product.shortname }}</span>
          </a>
    </div>

        <!-- 

        <div class="product-link">
          <p class="product-title">{{ product.name }}</p>
          <img src="{{ product.amazon-image-url }}" title="{{ product.name }}" style="width: auto; height: 240px;">
        </div>

          <img src="{{ product.image-url }}">
          <span class="rating-container">
          <label>Mike's Rating: </label>
          <div class="stars-container stars-{{ product.rating }}" title="{{ product.rating }}/10">★★★★★</div>
        </span> -->

    {% endfor %}
  </div>

<script>
// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.product-card',
  layoutMode: 'fitRows'
});
// bind filter on select change
$('.filters-select-1').on( 'change', function() {
  // get filter value from option value
  var filterValue = this.value;
  $grid.isotope({ filter: filterValue });
});
$('.filters-select-2').on( 'change', function() {
  // get filter value from option value
  var filterValue = this.value;
  $grid.isotope({ filter: filterValue });
});
$('.filters-select-3').on( 'change', function() {
  // get filter value from option value
  var filterValue = this.value;
  $grid.isotope({ filter: filterValue });
});

</script>
<style>
.grid {
  border: 1px solid #333;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */
.grid {
    height:  auto !important;
}
.grid * {
  //position: relative !important;
  left:  auto !important;
  top:  auto !important;
}

.product-card > * {
  margin: 0;
  padding: 0;
}
</style>