<div class="intro-text">
  <div class="greeting">
  	<div class="img-small-profile"></div>
  	<h1>Hi. I'M MIKE.</h1>
  </div>
  <div class="greeting-body">
	  <div class="lead-paragraph-home lph-1">
	  	<p><span class="dropcap-box dropcap-box-home"><span class="dropcap dropcap-home">W</span></span>elcome to my blog! I write about subjects from the mundane to the profound; from tech to sustainability, from fitness to spirituality, from relationships to philosophy. I like to share what's helped me, and teach others how to get more out of life.</p>
	  </div>
	  <div class="lead-paragraph-home lph-2">
	  	<p>Learn more <a href="/about.html" class="link-homepage link-about">about me</a>, <a href="/work.html" class="link-homepage link-work">my work</a>, or <a href="/coaching.html" class="link-homepage link-coaching">how I can help you</a>.</p>
	  </div>
	</div>
</div>