<h1 class="col-md-1-1 signup-h1 greeting-about">Who's this guy?</h1>
<div class="frow col-md-3-5">
  <div class="lead-paragraph-home about-text">
    <p class="lph-3"><span class="dropcap-box dropcap-box-home"><span class="dropcap dropcap-home">I</span></span>'m a proud father, freelance web developer, and master pancake-maker. Seriously, you should try my pancakes. But only with real maple syrup (none of that fake crap!)</p>
    <div class="lph-4">
      <p>I'm also many other things. Honestly, defining myself in a few short paragraphs is one of the hardest things for me; I've tried many times over many years. But here are a few things about me to paint a picture:</p>
      <ul>
      	<li>&raquo; I'm an expert-level snowboard instructor, a personal trainer, and a champion for health, wellness, and vitality.</li>
      	<li>&raquo; I'm an advocate for sustainability, social and economic justice, and bringing a higher level of consciousness to life.</li>
      	<li>&raquo; I've struggled with perfectionism my whole life, and am finally kicking the habit now. Just f***in' do it man!</li>
      </ul>
    </div>
  </div>
    <div class="frow direction-column content-center banner-cta-1 folded-corner-left-green folded-corner-right-green">
      <p>Watch my advice to my younger self on Mastery: </p>
      <a href="#"><span class="hire-me-button">Play</span></a>
    </div>
  </div>
</div>