<div class="intro-text">
  <h1 class="greeting">Hi. I'M MIKE.</h1>
  <p>I've spent most of my life figuring out how people work, how to live a good life, and how to impart this knowledge to others.</p>
  <p>My journey has been intense. I've gone through hell and back more than once, and have mined that shadow for gold.</p>
  <p>Now, I dedicate my time to writing, speaking, and coaching people in how to realize their potential - physically, mentally, emotionally, and spiritually. I'm all about integration, balance, and measurable results.</p>
  <div class="frow direction-column content-center hire-me folded-corner-left-green folded-corner-right-green">
    <p>If you are an individual or organization that has unfulfilled potential - get in touch. I'd love to help.</p>
    <a href="#"><span class="hire-me-button">Connect with Mike</span></a>
  </div>
</div>