@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: normal;
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-regular/Cabin-regular.eot');
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-regular/Cabin-regular.eot?#iefix') format('embedded-opentype'),
       local('Cabin'),
       local('Cabin-regular'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-regular/Cabin-regular.woff2') format('woff2'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-regular/Cabin-regular.woff') format('woff'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-regular/Cabin-regular.ttf') format('truetype'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-regular/Cabin-regular.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 700;
  font-style: normal;
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-700/Cabin-700.eot');
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-700/Cabin-700.eot?#iefix') format('embedded-opentype'),
       local('Cabin Bold'),
       local('Cabin-700'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700/Cabin-700.woff2') format('woff2'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700/Cabin-700.woff') format('woff'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700/Cabin-700.ttf') format('truetype'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700/Cabin-700.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 400;
  font-style: italic;
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-italic/Cabin-italic.eot');
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-italic/Cabin-italic.eot?#iefix') format('embedded-opentype'),
       local('Cabin Italic'),
       local('Cabin-italic'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-italic/Cabin-italic.woff2') format('woff2'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-italic/Cabin-italic.woff') format('woff'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-italic/Cabin-italic.ttf') format('truetype'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-italic/Cabin-italic.svg#Cabin') format('svg');
}

@font-face {
  font-family: 'Cabin';
  font-weight: 700;
  font-style: italic;
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-700italic/Cabin-700italic.eot');
  src: url('d:/web/frow-mikepeiman/fonts/Cabin-700italic/Cabin-700italic.eot?#iefix') format('embedded-opentype'),
       local('Cabin Bold Italic'),
       local('Cabin-700italic'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700italic/Cabin-700italic.woff2') format('woff2'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700italic/Cabin-700italic.woff') format('woff'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700italic/Cabin-700italic.ttf') format('truetype'),
       url('d:/web/frow-mikepeiman/fonts/Cabin-700italic/Cabin-700italic.svg#Cabin') format('svg');
}

