/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
@import '../node_modules/frow/sass/frow/_variables.scss';

* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    background: $bg-image;
    font-family: 'Raleway', 
    'Cabin', 'Oxygen', 'Karla', 'Raleway', 'Arvo', 'Anonymous Pro', 
		'PT Sans', 'Kaushan Script', 
		'Rajdhani', 'Cantora One', 
    'Cantarell', 'Philosopher', 'Nunito', 'Arimo', 'Libre Baskerville', 
    'Timmana', 'IM Fell English', 'IM Fell Great Primer SC', 'Gudea','Lato', Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: center;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

h2, h3, h4, h5, h6 {
   // font-weight: 400;
    font-family: 'Ubuntu';
}

h1 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: bold;
}

a         { 
	color: $main-white;
	text-decoration: none;
}
a:hover   { 
	color: $third-color;
	text-decoration: none;
 }
a:visited { color: $third-accent; }


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.site {
	flex: 1;
}

.posts {
    list-style-type: none;
    color: $main-black; // $main-white;
    background: $main-white;//$main-black;
    margin: 1em;
    padding: $section-padding;
    line-height: 1.25em;
    flex: 1;
    border-top: 5px solid $main-color;
    box-shadow: $card-shadow-grey;
}

.posts-container {
	flex: 1;
}

.posts h1 {
	font-size: 2em;
	font-weight: bold;
}

.posts li {
    line-height: 1.75em;
}

.posts a {
	text-decoration: none;
}

.posts a:hover {
	text-decoration: none;

	.post-feed-title {
		color: $main-color;
	}

	.post-excerpt {
		color: $second-color;
	}

	.post-feed-thumbnail {
		box-shadow: $card-shadow-grey;
	}
}

.posts-container ul li {
	text-align: left;
	margin: 0 0 0 1.5em;
}

.blog-feed-thumbnail {
	//	vertical-align: text-top;
		margin: .6em 0 0 0;
}

.posts-container ul li p {
	font-size: .9em;
	line-height: 1.1em;
}

.posts ul li:nth-child(4) {
	margin-bottom: 2em;
}

.post-feed-date {
    color: $main-grey;
    //font-family: Monaco, "Courier New", monospace;
    font-size: .8em;
    font-family: 'PT Sans', monospace;
}

.post-feed-title {
	color: $main-black;
}

.posts a .post-excerpt {
	color: $main-grey;
}

.category {
	color: $third-accent;
}

.signup-form {
    list-style-type: none;
    color: $main-black; // $main-white;
    background: $main-white;//$main-black;
    margin: 1em 1em 0 1em;
    padding: $section-padding;
    line-height: 1.25em;
    border-top: 5px solid $third-color;
    box-shadow: $card-shadow-grey;

    p {
    	margin-bottom: .25em;
    	padding: 0 1em 1em 1em;
    }
}

input {
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
}

.input-field {
		margin: .5em 0;
		font-family: 'Ubuntu';
		color: $third-accent;
		border: 1px solid $third-color;
		padding: .5em;
		cursor: pointer;
	}

.input-field::placeholder {
		background: none;
		font-family: 'Ubuntu';
		font-size: .85em;
	}

.button-heart input {
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
}

input[type="submit"] {
	color: $main-white;
	transition: all .25s;
}

.form-submit {
	background: $third-accent;
	border: 2px solid $third-color;
	padding: .25em .5em;
	margin: 1.15em 0 1.4em 0;
	color: $main-white;
	box-shadow: $card-shadow-black;
	transition: all .25s;
}

.form-submit:hover {
	background: $third-color;
/*	input[type="submit"] {
			padding-right: .75em;
			transition: all .25s;
	}
	svg {
		fill: red;
		transition: all .25s;
	}*/
}


.clicked {
	svg {
		transform: translate(0, -40px);
		fill: red; // rgba(0,0,0,0);
		transition: all .25s;
	}
}


svg {
	fill: rrgba(0,0,0,0);
}

.button-heart svg {
	margin: -1.5em 0 0 5em;
	padding: .25em 0 0 .35em;
}

.whisper {
	font-style: italic;
	font-size: 90%;
}

.intro-text {
		color: $main-black; //$main-white;
    background: $main-white; //$main-black;
    margin: 1em;
    padding: $section-padding;
    line-height: 1.25em;
    flex: 1;
    box-shadow: $card-shadow-grey;
    border-top: 5px solid $second-color;
    text-align: center;
}

.intro-text h1 {
    font-weight: bold;
    font-size: 2em;
}

.intro-text p {
	padding: 0 1em 1em 1em;
}

.flex-container {
	flex: 1;
}

.hire-me {
	margin: 0 -.75em 2em -.75em;
	padding-top: 1.75em;
	background: $main-black;
	position: relative;
  //-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  //-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  box-shadow: $card-shadow-grey; //3px 5px 5px rgba(0,0,0,0.8);
}

.folded-corner-left-green:before {
  content: "";
  position: absolute;
  top: -.33em;
  left: 0%;
  width: 0px;
  height: 0px;
  border-bottom: .35em solid $second-accent; // adjust-color($main-black, $lightness: 30%);
  border-left: .75em solid rgba(255,255,255,0); /*Set to background color, not transparent!*/
/*  -webkit-box-shadow: -2px -2px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px -2px 7px rgba(0,0,0,0.3);
  box-shadow: -2px -2px 7px rgba(0,0,0,0.3);*/
}
 
.folded-corner-right-green:after {
  content: "";
  position: absolute;
  top: -.33em;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: .35em solid $second-accent; // adjust-color($main-black, $lightness: 30%);
  border-right: .75em solid rgba(255,255,255,0); /*Set to background color, not transparent!*/
 /* -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: 7px 7px 7px rgba(0,0,0,0.3); */
}

.hire-me p {
	text-align: center;
	color: $second-color;
	margin-bottom: .5em;
}

.hire-me a {
	text-decoration: none;
}

.hire-me a:hover {
	text-decoration: none;
}

.hire-me-button {
	background: $second-accent;
	border: 2px solid $second-color;
	padding: .5em 2em;
	color: $main-white;
	box-shadow: $card-shadow-black;
}
.hire-me-button:hover {
			background: $second-color;
			color: $main-black;
			text-decoration: none;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

nav {
  background: $main-black;
  padding-bottom: 0.25em;
  border-bottom: 5px solid $third-color;

  ul {
  	display: flex;
  	justify-content: flex-end; // space-around;
  	width: 100%;
  	align-items: center;
  }

  ul li {
  	padding-right: 2em;
  }

	ul li:first-child {
  	margin-right: auto;
  	margin-left: 1.5em;
  }

	a:hover {
  color: $third-color;
  text-decoration: none;
	}

	.menu-item:hover {
	  border-bottom: 5px solid $third-color;
	  color: $main-white;
	  padding-bottom: 0.25em;
	  text-decoration: none;
	}

	ul {
		margin-right: 2em;
	}
}

.nav-menu a {
	color: $main-white;
	text-decoration: none;
	display: block;
}

.site-branding {
	flex-direction: column;
	flex: 1;
}

.site-branding a {
	text-decoration: none;
}

.site-branding h1 {
	margin: 0.3em 0 0 0;
	color: $main-white;
	text-align: left;
}

.site-branding p {
	margin: 0 0 1.25em 0;
	font-size: 1em;
	color: $third-color;
	text-align: left;
}

.meta {
    color: $main-grey;
}

footer {
    color: $main-grey;
    font-size: 0.75em;
    border-top: $main-border;
  //  margin-top: 2em;
    background: $main-black;
    padding: 1em 0;

    ul {
	  	display: flex;
	  	justify-content: flex-end; // space-around;
	  	width: 100%;
	  	align-items: center;
	  	padding-right: 3em;
	  }

	  ul li:first-child {
	  	margin-right: auto;
	  	margin-left: 1.5em;
	  }
  .icon {
		fill: $main-color;
	  width: 32px;
	  height: 32px;
	  margin: 1em .25em;
	  flex: 1;
	}

	.icon:hover {
		fill: $third-color;
	}
}

footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

footer .rss img {
    border: 0;
}

.icon {
	fill: rgba(0,0,0,0);
	position: relative;
	margin: -.5em auto .75em auto;
	width: 32px;
	height: 32px;
	transition: all .25s;
}		


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
    border: 1px solid $main-grey;
    background-color: $main-white;
    padding: 0 .4em;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid $main-grey;
    background-color: $main-white;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid $main-black;
    background-color: $main-grey;
    color: $main-white;
}

.post pre.terminal code {
    background-color: $main-grey;
}

/*****************************************************************************/
/*
/* Media - GREATER THAN SMALL
/*
/*****************************************************************************/

@media all and (min-width: 670px) {
	nav .site-branding {
		display: block;
		margin-right: auto;
	}
}

/*****************************************************************************/
/*
/* Media - LESS THAN MEDIUM
/*
/*****************************************************************************/

@media all and (max-width: 995px) {
  body {
  	background: $main-white;
  }
  nav ul li {
  	padding-right: .75em;
  }

	form input {
		padding: .5em;
		margin: .5em;
	}
}

/*****************************************************************************/
/*
/* Media - LESS THAN SMALL
/*
/*****************************************************************************/

@media all and (max-width: 670px) {

  nav {
		/* On small screens, we are no longer using row direction but column */
  	flex-direction: column;
    background: $bg-image-mobile;
//    background-size: auto 80%;
    border-bottom: 5px solid $third-color;
  }

	.site-branding {
		background: adjust-color($third-color, $lightness: -50%, $alpha: -.65);
		padding: 5px;
		margin-bottom: 2em;
		border-radius: 5px;
		border-bottom: 5px solid $third-color;
	}

	.site-branding h1 {
		text-align: center;
	}

	.site-branding p {
		text-align: center;
	}

  .nav-menu {
  	display: inline-block;
  	width: 95%;
		margin-top: .75em;
		margin-bottom: .75em;

		a:hover {
		  color: $third-color;
		  text-decoration: none;
		  border: none;
		  padding: 0;
		}
	}

  .nav-menu li {
	margin-bottom: .1em;
	padding: 0;
	}

	.intro-text {
		margin: 2em 0 0 0;
		font-size: 80%;
	}

	.posts {
		margin: 0;
		font-size: 80%;
	}
	
	.posts {
		margin-top: 2em;
	}

	.posts:last-child {
		margin-bottom: 2em;
		padding-bottom: 2em;
	}

	footer ul li {
		margin: .75em auto;
		font-size: 1.2em;
	}

	footer ul li:nth-child(2) {
		margin-left: 10%;
	}

	footer ul li:first-child {
		width: 100%;
		margin-top: 2em;
	}
}

/*****************************************************************************/
/*
/* Media - LESS THAN EXTRA-SMALL
/*
/*****************************************************************************/

@media all and (max-width: 480px) {

	footer ul {
		padding-right: 0;
	}

	footer ul li:nth-child(2) {
		margin-left: 1em;
	}

	footer ul li:last-child {
		margin-right: 1em;
	}

	footer ul li {
		padding: 0em;
		margin: 0 auto;
	}
}