/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
@import '../node_modules/frow/sass/frow/_variables.scss';

* {
    margin: 0;
    padding: 0;
}

html { height: 100%; }

body {
    font-family: 'Nunito', 'PT Sans', 'Raleway', Helvetica, sans-serif;
    font-size: 1.25em;
    text-align: center;
    //display: flex;
    min-height: 100%;
    flex-direction: column;
    background-color: $main-black;
}

.body-page {
	background: $main-black;
	background-image: linear-gradient(rgba(26,26,26,.25), rgba(26,26,26,1)), $bg-image-1;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.body-post {
	/*background-image: linear-gradient(rgba(0,0,25,.9), rgba(26,0,26,.75)), $bg-image-1;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;*/
}
.first-column {
	background: $main-white; //$bg-image-10;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 1em 0;
	border-top: 15px solid $main-accent;
	border-right: 15px solid $main-accent;
	box-shadow: $card-shadow-black;
}
.flex-container {
	flex: 1;
}

h3, h4, h5, h6 {
   // font-weight: 400;
    font-family: 'Ubuntu';
}

h1, h2 {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: bold;
	line-height: 1em;
}

a { 
	color: $main-white;
	text-decoration: none;
	cursor: pointer;
}
a:hover { 
	color: $third-color;
	text-decoration: none;
	cursor: pointer;
 }
a:visited { 
	color: $third-accent; 
	text-decoration: none;
	}
a:active {
	text-decoration: none;
}

.site {
	flex: 1;
	margin-top: 5em;
}
.landing-page {
	flex: 1;
	margin-top: 5em;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
	background: $main-black;/*
	background-image: -webkit-linear-gradient(rgba(26,26,26,1), rgba(26,26,26,1) 80%, rgba(26,26,26,0) 81%, rgba(26,26,26,.75));
	background-image: -o-linear-gradient(rgba(26,26,26,1), rgba(26,26,26,1) 80%, rgba(26,26,26,0) 81%, rgba(26,26,26,.75));
	background-image: linear-gradient(rgba(26,26,26,1), rgba(26,26,26,1) 80%, rgba(26,26,26,0) 81%, rgba(26,26,26,0));*/
}

/*****************************************************************************/
/*
/* Quotes sections
/*
/*****************************************************************************/

.quotes-section {
	background: $main-black;
	padding: 2em 2.5em;
	margin: 0;
	}/*
	.qs-1 {
		border-top: 15px solid $main-accent;
		border-bottom: 15px solid $main-accent;
	}
	.qs-2 {
		border-top: 15px solid $second-accent;
		border-bottom: 15px solid $second-accent;
	}
	.qs-3 {
		border-top: 15px solid $third-accent;
		border-bottom: 15px solid $third-accent;
	}*/

.quotes-container {
	color: $main-white;
	font-weight: normal;
	margin: 1em 0 6em 0;
	background: $main-black;//adjust-color($main-black, $lightness: 75%);
	padding: 4em 2em 3em 2em;
	text-align: center;
	text-transform: uppercase;
	h1 {
		font-family: 'Montserrat', 'Nunito','Oxygen', 'Ubuntu';
		font-size: 2em;
		line-height: 1em;
		margin: 0 0 .6em 0;
	}
	p {
		font-size: 1.75em;
		font-family: 'Montserrat', 'Nunito','Oxygen', 'Ubuntu';
		text-align: center;
		padding-bottom: 1em;
		font-weight: bold;
		font-style: italic;
		color: $main-white;
		span {
			border-top: 5px solid $main-grey;
			border-bottom: 5px solid $main-grey;
			padding: .1em;
		}
	}
}
/*
.qc-1 {
	border-left: 15px solid $main-accent;
	border-right: 15px solid $main-accent;
	border-top: 15px solid adjust-color($main-accent, $lightness: -15%);
	border-bottom: 15px solid adjust-color($main-accent, $lightness: -15%);
	background-image: linear-gradient(rgba(26,26,26,.25), rgba(26,26,26,.75)), $quote-bg-1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	p {
		color: $main-white;
		span {
			border-top: 5px solid adjust-color($main-accent, $lightness: -15%);
			border-bottom: 5px solid adjust-color($main-accent, $lightness: -15%);
			padding: .1em;
		}
	}
}

.qc-2 {
	border-left: 15px solid $second-accent;
	border-right: 15px solid $second-accent;
	border-top: 15px solid adjust-color($second-accent, $lightness: -15%);
	border-bottom: 15px solid adjust-color($second-accent, $lightness: -15%);
	background-image: linear-gradient(rgba(26,26,26,.5), rgba(26,26,26,1)), $quote-bg-11;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	p {
		color: $main-white;
		span {
			border-top: 5px solid adjust-color($second-accent, $lightness: -15%);
			border-bottom: 5px solid adjust-color($second-accent, $lightness: -15%);
			padding: .1em;
		}
	}
}
*/
.qc-1 {
	border-left: 15px solid $third-accent;
	border-right: 15px solid $third-accent;
	border-top: 15px solid adjust-color($third-accent, $lightness: -15%);
	border-bottom: 15px solid adjust-color($third-accent, $lightness: -15%);
	background-image: linear-gradient(rgba(26,26,26,.25), rgba(26,26,26,1)), $quote-bg-1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	p {
		color: $main-white;
		span {
			border-top: 5px solid adjust-color($third-accent, $lightness: -15%);
			border-bottom: 5px solid adjust-color($third-accent, $lightness: -15%);
			padding: .1em;
		}
	}
}
.qc-2 {
	border-left: 15px solid $third-accent;
	border-right: 15px solid $third-accent;
	border-top: 15px solid adjust-color($third-accent, $lightness: -15%);
	border-bottom: 15px solid adjust-color($third-accent, $lightness: -15%);
	background-image: linear-gradient(rgba(26,26,26,.25), rgba(26,26,26,1)), $quote-bg-2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	p {
		color: $main-white;
		span {
			border-top: 5px solid adjust-color($third-accent, $lightness: -15%);
			border-bottom: 5px solid adjust-color($third-accent, $lightness: -15%);
			padding: .1em;
		}
	}
}
.qc-3 {
	border-left: 15px solid $third-accent;
	border-right: 15px solid $third-accent;
	border-top: 15px solid adjust-color($third-accent, $lightness: -15%);
	border-bottom: 15px solid adjust-color($third-accent, $lightness: -15%);
	background-image: linear-gradient(rgba(26,26,26,.25), rgba(26,26,26,1)), $quote-bg-3;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	p {
		color: $main-white;
		span {
			border-top: 5px solid adjust-color($third-accent, $lightness: -15%);
			border-bottom: 5px solid adjust-color($third-accent, $lightness: -15%);
			padding: .1em;
		}
	}
}


/*****************************************************************************/
/*
/* NAV
/*
/*****************************************************************************/


nav {
	font-family: 'Raleway', Helvetica, sans-serif;
  ul {
  	display: flex;
  	justify-content: flex-end; // space-around;
  	width: 100%;
  	align-items: center;
  	margin-right: 2em;
  	margin-top: -2em;
  }
  ul li {
  	padding-right: 2em;
 		text-transform: uppercase;
  }
	a:hover {
  text-decoration: none;
	}
	.menu-item {
		text-decoration: none;
		display: block;
		color: white;
		/*background: $main-black;
  	padding: .5em;
  	border-radius: .25em;*/
	}
	.menu-item:hover {
		color: $third-color;
		text-decoration: none;
		display: block;
		//background: adjust-color($main-black, $lightness: 5%);
	}
	.menu-item.active {
		 // border-bottom: 5px solid $third-color;
		  color: $third-color;
		 // padding-bottom: 0.25em;
		  text-decoration: none;
		  &:active {
		  	text-decoration: none;
		  }
		  &:visited {
		  	text-decoration: none;
		  }
	}
}

.site-branding {
	display: block;
	margin: .5em 0 0 1.25em;
	text-decoration: none;
	/*background: white;
	padding: 0 0 0 .5em;
	border-left: 5px solid $third-color;*/
}
.site-branding a {
	text-decoration: none;
}
.site-branding h1 {
	margin: 0.3em 1.5em 0 0;
	color: white;
	text-align: left;
	font-size: 2.25em;
	&:hover {
		color: $third-color;
	}
}
.site-branding p {
	margin: 0 0 1.25em 0.1em;
	font-size: 1em;
	color: $third-color;
	text-align: left;
}



/*****************************************************************************/
/*
/* FORMS
/*
/*****************************************************************************/

.signup-form {
    list-style-type: none;
    flex: 1;
    color: $main-black; // $main-white;
    background: $main-white;//$main-black;
    margin: 1em 0;
    padding: $section-padding;
    line-height: 1.25em;
    border-top: 5px solid $third-color;
    box-shadow: $card-shadow-grey;
    text-align: center;
		h1 {
			font-size: 3.5em;
		}
    p {
    	padding: 0 1em .65em 1em;
    }
}

.signup-form-post {
    list-style-type: none;
    flex: 1;
    color: white;
    background: $main-black;
    margin: 0 0 2em 0;
    padding: 1.25em;
    line-height: 1.25em;
    text-align: center;
    h1 {
    	font-size: 3em;
    }
    p {
    	padding: 0 0 1em 0;
    	font-size: 1.25em;
    	line-height: 1.25em;
    }
}

input {
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
}
input:hover {
	appearance: none;
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
}

.input-field-post {
		margin: .5em 0;
		font-family: 'Ubuntu';
		color: $main-white;
		border: 3px solid $main-color;
		padding: .5em;
		cursor: pointer;
	}

	.input-field-post:hover {
		border: 3px solid $main-white;
		background: rgba(255,255,255,0.15);
	}

	.input-field-post:active {
		border: 3px solid $main-white;
		background: rgba(0,0,0,0.15);
	}

	.input-field-post:active:hover {
		border: 3px solid $main-white;
		background: rgba(0,0,0,0.15);
	}

.input-field-post::placeholder {
		background: none;
		font-family: 'Ubuntu';
		text-transform: uppercase;
		font-size: .85em;
		color: $main-white;
	}

.form-submit input {
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
	outline: none;
}

.form-submit-post input {
	border: 0;
	outline: 0;
	background: none;
	cursor: pointer;
	outline: none;
	&:active {
		outline: none;
	}
		&:focus {
		outline: none;
	}
}

input[type="submit"] {
	font-family: 'Ubuntu';
	color: $main-white;
	transition: all .25s;
	outline: none;
		&:active {
		outline: none;
	}
			&:focus {
		outline: none;
	}
}

.form-submit {
	background: $third-accent;
	padding: .5em;
	margin: 1.15em 0 1.5em 0;
	color: $main-white;
	box-shadow: $card-shadow-black;
	transition: all .25s;
	z-index: 1000;
}

.form-submit-post {
	border: 3px solid $main-color;
	padding: .5em;
	margin: 1.15em 0 1.5em 0;
	color: $main-white;
	transition: all .25s;
	z-index: 1000;
}

.form-submit-post:hover {
	color: $main-white;
	transition: all .25s;
	z-index: 1000;
	border: 3px solid $main-white;
	background: rgba(255,255,255,0.15);
}

.form-submit-post:active {
	border: 3px solid $second-color;
	box-shadow: none;
	transition: all .25s;
	z-index: 1000;
}

p#mce-success-response, p#mce-error-response {
	padding: 1em;
	color: $third-accent;
	background: none;
	a {
		text-decoration: underline;
		color: $third-accent;
		display: block;
		margin-top: .5em;
	}
}

#mce-response-close-button {
  color: $third-color;
	text-transform: uppercase;
	font-size: .7em;
  cursor: pointer;
  display: block;
  background: rgba(0,0,0,0.4);
  border-radius: 25px;
  width: 75px;
  margin: .5em auto 0 auto;
  padding: .5em;
  width: 10em;
}

#mce-response-close-button:after {
	  content: "Click here to close";
}
#mce-response-close-button:hover {
  color: $main-color;
  background: rgba(255,255,255,0.4);
}
#mce-success-response a:hover, #mce-error-response a:hover {
  		color: $third-color;
  		cursor: pointer;
  		font-size: 110%;
  		text-decoration: underline;
}
.no-after:after {
	display: none;
	width: 0;
	height: 0;
	background: none;
}
p:empty {
	display: none;
}

.closed {
	display: none;
}

.parsley-required, .parsley-type {
  color: $main-color;
}

#form-submit {
	cursor: pointer;
	svg {
		width: 32px;
		height: 32px;
		margin: -1.5em auto 0;
		padding: .25em 0 0 .35em;
		fill: none;
	}
}
/*
.heart-shown {
 #form-submit	svg {
		fill: red;
		transition: all .5s;
	}
}

.button-heart svg {
	margin: -1.5em auto 0;
	padding: .25em 0 0 .35em;
}


#form-submit:hover {
	background: $third-color;
	svg {
		transform: translate(0, -40px);
		fill: red;
		transition: all .25s;
	}
}*/
/*
#form-submit {
	svg {
		fill: none;
		width: 32px;
		height: 32px;
		margin: -1.5em auto 0;
		padding: .25em 0 0 .35em;
		transition: transform .75s;
	}
}*/

/*****************************************************************************/
/*
/* Intro-text sections
/*
/*****************************************************************************/

.intro-text {
		color: white; //$main-white;
    margin: 6em 0 4em 0;
    line-height: 1.25em;
    flex-direction: column;
    text-align: center;
	h1 {
    font-weight: bold;
    font-size: 3em;
    margin: 0;
		padding: 0;
  }
  p {
		padding: .75em 0;
		font-size: 1.15em;
		line-height: 1.25em;
	}
}

.greeting {
	align-items: center;
	display: inline-flex;
	justify-content: space-between !important;
	margin: 0 auto;
	padding: 0;//2.5em 2em 2.5em 6em;
/*	border-top: 15px solid adjust-color($main-black, $lightness: 10%);
	border-left: 15px solid adjust-color($main-black, $lightness: 5%);
	border-bottom: 15px solid adjust-color($main-black, $lightness: 10%);
	border-right: 15px solid adjust-color($main-black, $lightness: 5%);
	background: adjust-color($main-black, $lightness: 15%);*/
	//border: 15px solid #FABC11;
	//box-shadow: -6px -6px 0px 3px $main-accent;
  /*background-image: linear-gradient(rgba(26,26,26,0.85), rgba(26,26,26,.1)),$bg-image-2;
  background-size: cover;*/
}

.greeting-body {
	padding: 2em 0;
	margin: 2em 0 0 0;/*
	border-top: 15px solid adjust-color($main-black, $lightness: 10%);
	border-left: 15px solid adjust-color($main-black, $lightness: 5%);
	border-bottom: 15px solid adjust-color($main-black, $lightness: 10%);
	border-right: 15px solid adjust-color($main-black, $lightness: 5%);
	background: adjust-color($main-black, $lightness: 3%);*/
}

.img-small-profile {
	display: none;
	position: relative;
	width: 150px;
	height: 150px;
	margin-right: 1.5em;
	background-image: $profile-image-1;
	background-size: cover;
	background-repeat: no-repeat;
	flex: 1 1 auto;
	padding: 0;
	border-top: 15px solid adjust-color($main-black, $lightness: 5%);
	border-left: 15px solid adjust-color($main-black, $lightness: 10%);
	border-bottom: 15px solid adjust-color($main-black, $lightness: 5%);
	border-right: 15px solid adjust-color($main-black, $lightness: 10%);
}

p a.link-homepage {
	display: inline-block;
	background: $main-black;
	border-radius: 5px;
	padding: 5px;
	margin: 2px;
	text-decoration: none;
	color: $main-white;
	font-weight: 400;
	&:hover {
		background: adjust-color($main-black, $lightness: 5%);
		color: $third-color;
	}
}
/*
.link-about {
	border: 2px solid $third-accent;
}
.link-work {
	border: 2px solid $third-accent;
}
.link-coaching {
	border: 2px solid $third-accent;
}*/

/*****************************************************************************/
/*
/* Calls To Action
/*
/*****************************************************************************/

.learn-more {
	margin: 2em auto;
	padding-top: 1.5em;
	background: $main-white;
	color: $main-black;
	border: 5px solid $main-white;
		h2 {
		color: $main-color;
	}
}
.learn-more-box {
	justify-content: space-between;
}
.lm-1 {
	background: adjust-color($third-accent, $lightness: -15%, $hue: 60);
}
.lm-2 {
	background: adjust-color($third-accent, $lightness: -15%, $hue: 90);
}
.lm-3 {
	background: adjust-color($third-accent, $lightness: -15%, $hue: 120);
}
.lm-4 {
	background: adjust-color($third-accent, $lightness: -15%, $hue: 150);
}

.banner-cta-1 {
	margin: 2em .75em;
	padding-top: 1.5em;
	background: $main-white;
  position: relative;
	flex: 1 1 auto;
	color: $main-black;
		h2 {
		color: $main-color;
	}
}
.banner-cta-2 {
	margin: 2em .75em;
	padding-top: 1.5em;
	background: $main-white;
	position: relative;
	flex: 1 1 auto;
	color: $main-black;
	h2 {
		color: $second-color;
	}
}
.folded-corner-left:before {
  content: "";
  position: absolute;
  top: -.66em;
  left: 0%;
  width: 0px;
  height: 0px;
  border-bottom: .7em solid $third-accent; // adjust-color($main-black, $lightness: 30%);
  border-left: 1.75em solid rgba(255,255,255,0); /*Set to background color, not transparent!*/
/*  -webkit-box-shadow: -2px -2px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: -2px -2px 7px rgba(0,0,0,0.3);
  box-shadow: -2px -2px 7px rgba(0,0,0,0.3);*/
}
 
.folded-corner-right:after {
  content: "";
  position: absolute;
  top: -.66em;
  right: 0%;
  width: 0px;
  height: 0px;
  border-bottom: .7em solid $third-accent; // adjust-color($main-black, $lightness: 30%);
  border-right: 1.75em solid rgba(255,255,255,0); /*Set to background color, not transparent!*/
 /* -webkit-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 7px 7px 7px rgba(0,0,0,0.3);
  box-shadow: 7px 7px 7px rgba(0,0,0,0.3); */
}

.banner-cta p {
	text-align: center;
	color: $third-color;
	margin-bottom: .5em;
}

.banner-cta a {
	text-decoration: none;
}

.banner-cta a:hover {
	text-decoration: none;
}
.banner-cta-button-1 {
	background: $third-accent;
	border: 2px solid $third-color;
	padding: .5em 2em;
	color: $main-white;
	position: relative;
	top: -50px;
	z-index: -1;
}
.banner-cta-button-2 {
	background: $third-accent;
	border: 2px solid $third-color;
	padding: .5em 2em;
	color: $main-white;
}

.banner-cta-button:hover {
			background: $third-color;
			color: $main-black;
			text-decoration: none;
}

.meta {
    color: $main-grey;
}

.social-links li p a {
		text-decoration: none;
}

.social-links {
    color: $main-grey;
    font-family: 'Montserrat','Raleway';
    background: $main-black;
    padding: 1em 0;
		bottom: 0;

    ul {
	  	display: flex;
	  	justify-content: flex-end; // space-around;
	  	width: 100%;
	  	align-items: center;
	  	padding-right: 3em;
	  }

	  ul li:first-child {
	  	margin-right: auto;
	  	margin-left: 1.5em;
	  	font-size: 1em;
	  	padding: .5em;
	  	color: $main-color;
	  }
  .icon {
		fill: $main-color;
	  width: 32px;
	  height: 32px;
	  margin: 1em .25em;
	  flex: 1;
	}

	.icon:hover {
		fill: $third-color;
	}
}
.social-links-contact {
    color: $main-grey;
    font-family: 'Montserrat','Raleway';
    background: $main-black;
    padding: 1em 0;
		bottom: 0;

    ul {
	  	display: flex;
	  	justify-content: flex-end; // space-around;
	  	width: 100%;
	  	align-items: center;
	  	padding-right: 3em;
	  }
  .icon {
		fill: $main-color;
	  width: 64px;
	  height: 64px;
	  margin: 1em .25em;
	  flex: 1;
	}

	.icon:hover {
		fill: $third-color;
	}
}

.social-links .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.social-links .rss img {
    border: 0;
}
/*
.icon {
	fill: rgba(0,0,0,0);
	position: relative;
	margin: -.5em auto .75em auto;
	width: 32px;
	height: 32px;
	transition: all .25s;
}		*/


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post {
	padding: 0 1em;
	line-height: 1.5em;
	text-align: left;
	background: white;//$main-white;
}

.post-header {
	flex-direction: column;
	height: calc(100vh - 100px);
	width: 100%;
	//border-bottom: 15px solid $main-black;
	background-attachment: fixed;
	h1 {
		font-size: 3em;
		margin: 2em 0 .25em 0;
		padding-bottom: 0;
		color: white;
	}
}
.post-intro {
	padding: 1em;
	color: $fourth-accent;
	border-top: 5px solid $fourth-accent;
	border-bottom: 5px solid $fourth-accent;
}

.post-page-below-header {
	background: white;//rgba(255,255,255,0.75); //linear-gradient(rgba(245, 245, 245, 1), rgba(0, 0, 55, .1));
/*	background-repeat: no-repeat; 
	background-size: 100% 100%;	
	background-attachment: fixed;*/
}

.post-page-below-header-inner {
	background: none;// $main-grey;
	padding: 0 1em;
	margin: 2em;
}

.lead-paragraph {
	font-size: 1.25em;
	margin-bottom: 1.25em;
	line-height: 1.25em;
	padding-top: 1em;
	text-align: left;
}

.dropcap-box {
//	width: 5.5em;
	width: 5.5em;
	height: 4.7em;
	background: $main-black;
	float: left;
	text-align: center;
	margin: .2em .5em 0 0;
	padding: .5em;
	border-radius: 5px;
}
.dropcap {
	font-family: "Times New Roman", "Oxygen";
	font-size: 5em;
	line-height: .7em;
	font-weight: bold;
	color: white;
	text-align: center;
}
.dropcap-w {
	-webkit-transform:scale(0.9, 1.0);
	-moz-transform:scale(0.9, 1.0);
	-ms-transform:scale(0.9, 1.0);
	-o-transform:scale(0.9, 1.0);
	transform:scale(0.9,1.0);
}

.lead-paragraph-home {
	font-size: 1.15em;
	margin-bottom: 1.25em;
	line-height: 1.25em;
	padding: 1em;
	text-align: left;
/*
	border-top: 5px solid adjust-color($main-black, $lightness: 25%);
	border-bottom: 5px solid adjust-color($main-black, $lightness: 25%);
	border-left: 5px solid adjust-color($main-black, $lightness: 15%);
	border-right: 5px solid adjust-color($main-black, $lightness: 15%);*/
	p {
			font-family: 'Raleway';
	}
}
.lph-1 {
	color: white;
	background: adjust-color($third-accent, $lightness: -15%);
	border: 5px solid $main-white;
}
.lph-2 {
	color: white;
	background: adjust-color($third-accent, $lightness: -15%);
	border: 5px solid $main-white;
	text-align: center;
	padding: 1em;
	margin-bottom: 1em;
}
.lph-3 {
	color: white;
	background: adjust-color($third-accent, $lightness: -15%);
	border: 5px solid $main-white;
	text-align: left;
	font-size: 1.25em;
	padding: 1em;
	margin-bottom: 1em;
}
.lph-4 {
	color: $main-black;
	text-align: center;
	margin: 0;
	padding: 0;
	p {
		font-size: 1em;
	 // background: $main-black; //adjust-color($third-accent, $lightness: -15%);
	  border: 5px solid $main-white;
	  padding: 0 1em;
	  margin-bottom: 1em;
		font-weight: 400;
		text-align: left;
		line-height: 1.25em;
	}
}

.about-text {
	background: $main-white;
	border: 5px solid $third-color;
	color: $main-black;
}
.lead-paragraph-home-2 {
	font-size: 1.15em;
	margin-bottom: 1.25em;
	line-height: 1.25em;
	padding: .75em;
	text-align: left;
	background: adjust-color($third-accent, $lightness: -15%, $hue: 30);
	border: 5px solid $main-white;/*
	border-top: 5px solid adjust-color($main-black, $lightness: 25%);
	border-bottom: 5px solid adjust-color($main-black, $lightness: 25%);
	border-left: 5px solid adjust-color($main-black, $lightness: 15%);
	border-right: 5px solid adjust-color($main-black, $lightness: 15%);*/
	p {
			font-family: 'Raleway';
	}
}
.dropcap-box-home {
//	width: 5.5em;
	width: 5.25em;
	height: 3.85em;
	background: $main-white;
	float: left;
	text-align: center;
	margin: -.25em .2em 0 0;
	padding: .5em .5em .5em .3em;
	border-radius: 5px;
	-webkit-transform:scale(0.9, 1.0);
	-moz-transform:scale(0.9, 1.0);
	-ms-transform:scale(0.9, 1.0);
	-o-transform:scale(0.9, 1.0);
	transform:scale(0.9,1.0);
}
.dropcap-home {
	color: $main-black;
	font-size: 4.6em;
	line-height: .6em;
}

.post-image {
	position: fixed;
	z-index: -1;
	width: 100%;
}

.underneath-post {
	margin: 1em 0 4em 0;
	padding-bottom: 1em;
}

.disqus-comments {
	margin: 1em 0 0 0;
	padding: 2em;
	background: adjust-color($main-color, $lightness: 37%);
	border-radius: 15px;
	border: 5px solid $main-color;
}

.further-reading-section {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1em;
	margin: 4em 2em 3em 2em;
}
.post-nav-link a {
		background: $main-grey;
		margin: 1em 0 0 0;
		padding: 1em;
		color: $main-white;
		border-radius: 1em;
		box-shadow: $card-shadow-black;
		text-decoration: none; 
	&:hover {
		text-decoration: none;	
	}
}

.post-nav-link-inactive a {
		background: $main-grey;
		margin: 1em 0 0 0;
		padding: 1em;
		color: $main-white;
		border-radius: 1em;
		box-shadow: $card-shadow-black;
		text-decoration: none; 	
	&:hover {
		color: $main-accent;
		text-decoration: none;
		cursor: not-allowed;
	}
	&:visited {
	text-decoration: none;
	}
}

.page-categories-section {
	margin: 1em 0 0 0;
	padding: 1em;
	background: $main-grey;
	color: $main-color;
	li {
		padding: .5em 1em;
	}
}
.related-posts-section {
	margin: 1em 0 0 0;
	padding: 1em;
	background: $main-grey;
	color: $main-white;
}

/*****************************************************************************/
/*
/* HOMEPAGE POSTS FEED STYLES
/*
/*****************************************************************************/

.homepage-section {
	background: $main-black;
	padding: 0;
	margin: 0;
}
.hp-1 {

}
.hp-2 {

}
.hp-3 {

}
.hp-4 {

}
.hp-5 {

}
.section-header-posts-feed {
		color: white;
		font-size: 3em;
		background: adjust-color($main-accent, $lightness: -15%);
		border-top: 5px solid $main-color;
		border-bottom: 5px solid $main-color;
		padding: 1em 0;
		margin-top: -2em;
	}
.section-header-signup {
		color: white;
		font-size: 3em;
		background: adjust-color($main-accent, $lightness: -15%);
		border-top: 5px solid $main-color;
		border-bottom: 5px solid $main-color;
		padding: 1em 0;
		margin-top: -1em;
	}
.section-header-about {
		color: white;
		font-size: 3em;
		background: $fourth-accent;
		border-top: 5px solid $third-color;
		border-bottom: 5px solid $third-color;
		padding: 1em 0;
		margin-top: -1em;
}
.section-header-contact {
		color: white;
		font-size: 3em;
		background: adjust-color($main-accent, $lightness: -15%);
		border-top: 5px solid $main-color;
		border-bottom: 5px solid $main-color;
		padding: 1em 0;
		margin-top: -1em;
}


.posts-container {
	margin: 0 0 2em 0;
	ul li {
		text-align: left;
	}
	.post-feed-date {
		font-size: 1.15em;
		text-decoration: none;
		color: $main-color;
    font-family: "Raleway", Monaco, "Courier New", monospace;
    text-align: left;
	}
	.post-feed-title {
		font-size: 1.15em;
		color: $main-white;
	}
}

.blog-feed-thumbnail {
	//	vertical-align: text-top;
		margin: .6em 0 0 0;
}

.homepage-posts-container:last-child {
		padding-bottom: 1.25em;
	}

.homepage-posts-container a .post-excerpt {
	color: $main-grey;
}

.category {
	color: $third-accent;
}

.post-details {
	color: white;
	padding: .5em;
	margin: 0;
	display: flex;
	justify-content: center;

	li {
		color: $main-white;
		padding: 0 .5em;
		margin: 0 .5em 0 1em;
		text-decoration: none;
		list-style: disc;
	}
	:first-child {
		list-style: none;
	}
}

.blog-post {
	padding: 0 1em;
}

/*****************************************************************************/
/*
/* BLOG PAGE POSTS FEED STYLES
/*
/*****************************************************************************/

.blog-post-feed {
	width: 100%;
	margin: 0;
	padding: 1em 1em 1em 0;
	background: $main-black;//adjust-color($main-accent, $lightness: -15%);
	border: 5px solid $main-color;
}

.blog-posts-container {
	  list-style-type: none;
    margin: 1em;
    padding: $section-padding;
    line-height: 1.25em;
    border: 5px solid $main-color;
    flex: 1;
    h1 {
    	padding: 0 1em;
    }
}

.post-feed-item {
	padding: .5em;
	font-family: 'Montserrat';
	margin: 0 auto .5em 2em;
	//width: 80%;
	color: $main-white;
	border-top: 5px solid rgba(0,0,0,0);//adjust-color($main-black, $lightness: 5%);
	border-left: 15px solid rgba(0,0,0,0);//adjust-color($main-black, $lightness: 0%);
	border-bottom: 5px solid rgba(0,0,0,0);//adjust-color($main-black, $lightness: 5%);
	border-right: 15px solid rgba(0,0,0,0);//adjust-color($main-black, $lightness: 0%);
}

.post-feed-item:hover {
	text-decoration: none;
	border-top: 5px solid $main-black; //adjust-color($main-accent, $lightness: -15%);
	border-left: 15px solid adjust-color($main-accent, $lightness: 5%);
	border-bottom: 5px solid $main-black; //adjust-color($main-accent, $lightness: -15%);
	border-right: 15px solid adjust-color($main-accent, $lightness: 5%);
	background: $main-black;
		.post-feed-title {
			color: $third-accent;
		}
		a {
			text-decoration: none;
		}
}

.post pre {
    border: 1px solid $main-grey;
    background-color: $main-white;
    padding: 0 .4em;
    overflow-wrap: break-word;
}

.post ul, .post ol {
    margin-left: 1.35em;
}

.post code {
    border: 1px solid $main-grey;
    background-color: $main-white;
    padding: 0 .2em;
    overflow-wrap: break-word;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid $main-black;
    background-color: $main-grey;
    color: $main-white;
}

.post pre.terminal code {
    background-color: $main-grey;
}

.post ul li {
	list-style-type: disc;
	text-align: left;
	overflow-wrap: break-word;
	margin-left: .75em;
}

.post ul li:last-of-type {
	margin-bottom: 1em;
}

.post ol li {
	list-style-type: disc;
	text-align: left;
	overflow-wrap: break-word;
	margin-left: .75em;
}

.post ol li:last-of-type {
	margin-bottom: 1em;
}

#nav-page {
	h1 {
		color: black;
	}
	a {
		color: black;
	}
	a:hover {
		color: $third-color;
	}
}

/*****************************************************************************/
/*
/* PORTFOLIO
/*
/*****************************************************************************/

.portfolio-item {
	background: rgba(0,0,0,0.2);
	padding: 1.5em;
	margin: 1em;
}
/*****************************************************************************/
/*
/* Media - GREATER THAN 810px
/*
/*****************************************************************************/

@media all and (min-width: 810px) {
	.nav-menu {
		margin: -6.95em 2em 0 1.25em;
	}
	nav .site-branding {
		display: block;
		margin-right: auto;
	}
	.signup-form-post {
		padding-left: 2em;
	}
}

/*****************************************************************************/
/*
/* Media - GREATER THAN 670px
/*
/*****************************************************************************/

@media all and (min-width: 670px) {

}
/*****************************************************************************/
/*
/* Media - LESS THAN 1250px
/*
/*****************************************************************************/

@media all and (max-width: 1250px) {
	
/*
	.intro-text {
		h1 {
			font-size: 3em;
		}
		p {
			font-size: 1.25em;
			width: 100%;
			margin: 0 auto;
		}
	}*/
}




/*****************************************************************************/
/*
/* Media - LESS THAN 995px
/*
/*****************************************************************************/

@media all and (max-width: 995px) {
  body {
  	background: $main-white;
  	font-size: 112.5%;
  }

  .img-small-profile {
		display: inline-block;
  }

.body-page {
	background: $main-black;
	background-image: none;
	/*linear-gradient(rgba(26,26,26,.5), rgba(26,26,26,1)), $bg-image-2;
	background-repeat: no-repeat;
	background-size: cover;*/
	//background-attachment: fixed;
}
  nav ul li {
  	padding-right: .75em;
  }

  .site-branding {
  	color: white;
  	h1 {
  		color: white;
  	}
  }
	.intro-text {
		h1 {
		//	font-size: 3em;
		}
		p {
		//	font-size: 1.15em;
			width: 80%;
			margin: 0 auto;
		}
	}

	.blogpage-post-feed-item {
		padding: .5em .5em .5em 1.5em;
		margin: 0 auto;
		width: 100%;
	}
  .first-column {
  	border: none;
  	box-shadow: none;
  	display: none;
  	margin: 0;
  	padding: 0;
  }

	.input-field {
		padding: .5em;
		margin: .5em;
	}

	.form-submit {
		padding: .5em;
		margin: .5em .5em 1.5em .5em;
	}

	.input-field::placeholder {
		padding-left: 1em;
	}
}

/*****************************************************************************/
/*
/* Media - LESS THAN 810px
/*
/*****************************************************************************/

@media all and (max-width: 810px) {

	header {
		background: $main-black;
		border-bottom: 5px solid $third-color;
		z-index: 2000;
  }
 	.nav-menu {
		justify-content: space-around;
		margin: 0 auto;
	}
	.nav-menu ul {
		display: flex;
		flex-direction: column;
	}
  .nav-menu li {
		margin-bottom: .1em;
		padding: 5px;
		justify-content: space-around;
		flex-direction: column;
	}

	.post-header h1 {
		//font-size: 2.5em;
	}
	.site-branding {
		h1 {
	//		font-size: 2em;
		}
		p {
	//		font-size: 1em;
		}
	}

	.intro-text {
		padding-top: 0;
		h1 {
	//		font-size: 2.75em;
		}
		p {
		//	font-size: 1.05em;
			margin: 0 auto;
		}
	}

	.lead-paragraph-home {
		border: none;
	}
	.signup-form-post {
		border: none;
		margin: 1em auto;
		width: 80%;
	}

	.posts-container {
		margin: 1em auto;
		width: 100%;
	}
}

/*****************************************************************************/
/*
/* Media - LESS THAN 750px
/*
/*****************************************************************************/

@media all and (max-width: 750px) {
	body {
		font-size: 105%;
	}
	.greeting {
		border: none;
	}
	.blogpage-post-feed-item {
		padding: .5em;
		margin: 0 0 .1em -1em;
		p {
			border-left: 3px solid rgba(0,0,0,0);
			padding-left: 8px;
		}
		.post-feed-date {
		//	font-size: .75em;
			text-transform: uppercase;
		}
	}
	.post-feed-item {
		margin: 0;
		width: 100%;
	}
	.post-details {
		margin: 1em auto;
		display: inline-block;
		//flex-direction: column;
		text-align: center;
		line-height: 1.25em;
	//	font-size: .9em;
		background: rgba(0,0,0,0.3);

		li {
			list-style: none;
			padding: .25em;
			color: $main-white;
			margin: 0 auto;	
		}
		li:nth-of-type(3) {
			float: left;
		}
		li:nth-of-type(3):after {
				content: ",";
		}
		li:nth-of-type(4) {
			float: left;
		}

	}
}


/*****************************************************************************/
/*
/* Media - LESS THAN 670px
/*
/*****************************************************************************/

@media all and (max-width: 670px) {
	body {
		font-size: 95%;
	}
	.post-header h1 {
//		font-size: 2em;
	}

	.intro-text {
		h1 {
	//		font-size: 2.5em;
		}
		p {
		//	font-size: 1em;
			width: 90%;
			margin: 0 auto;
		}
	}

	.block-quote {
		margin: .5em 0;
	}

	.homepage-posts-container {
		margin: 0;
	//	font-size: 80%;
	}
	
	.homepage-posts-container {
		margin: 2em 1em;
	}

	.homepage-posts-container:last-child {
		margin-bottom: 2em;
		padding-bottom: 2em;
	}

	.social-links ul li {
		margin: .75em auto;
	//	font-size: 1.2em;
	}


	.social-links ul li:first-child {
		width: 100%;
		margin: 1em auto 0 auto;
	}
}

/*****************************************************************************/
/*
/* Media - LESS THAN 480px
/*
/*****************************************************************************/

@media all and (max-width: 480px) {
	body {
		font-size: 85%;
	}
	.site-branding {
			margin: .75em 0 0 0;
			padding: 0;
		h1 {
		//	font-size: 1.35em;
			margin: 0;
			padding: 0;
		}
		p {
		//	font-size: .9em;
		}
	}
	nav {
		margin-bottom: 0;
		padding-bottom: .25em;
	}
	.nav-menu li {
		margin-bottom: .1em;
	//	font-size: .85em;
		text-transform: uppercase;
	}

	.img-small-profile {
		margin: 0;
		flex: 1 .35 auto;

	}

	.intro-text h1 {
	//  font-size: 2.25em;
	  padding: .5em 0;
	  margin: 0;
	}

	.intro-text p {
	//	font-size: 1em;
		padding: .5em 0;
	}

	.greeting {
		margin-top: -1.25em;
		h1 {
			margin: 0;
		}
	}
	.quotes-section {
		padding: 2em 1.5em;
	}
	.quotes-container {
		padding: 2.5em .35em 1.5em .35em;
		h1 {
		//	font-size: 1.65em;
			padding: 0;
		}
		p span {
			display: block;
		//	font-size: 90%;
			width: 70%;
			margin: 0 auto;
			padding: .15em;
		}
	}

.banner-cta {
	margin: 0 -.75em 2em -.75em;
	padding-top: 1.75em;
	background: $main-black;
	position: relative;
  //-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  //-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  box-shadow: $card-shadow-grey; //3px 5px 5px rgba(0,0,0,0.8);
}

.underneath-post {
	margin: 2em 0 0 0;
}

.frow-container {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}

.posts-container {
		padding: .5em 0;
		margin: 1em 0;
	}

	.social-links ul {
		padding-right: 0;
	}

	.social-links ul li:nth-child(2) {
		margin-left: 1em;
	}

	.social-links ul li:last-child {
		margin-right: 1em;
	}

	.social-links ul li {
		padding: 0em;
		margin: 0 auto;
	}
}
.video-title {
	padding: .5em 1em 1em 1em;
}

.youtube-player {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}
    
.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}
    
.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
}